<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<meta charset="utf-8">
<title>Pick Your Park</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>

<body class="container-fluid">
<center class="row">
	<h1><b>Pick Your Park</b></h1>
	<h2>Parking Lot Utilization</h2>
</center>
<hr />
<div class="row">
	<div class="col-md-12">
	<canvas id="myChartBar"></canvas>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
	var endpoint = '/api';

	$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data) {
		drawBarGraph(data, 'myChartBar');
		console.log("drawing");
	},
	error: function(error_data) {
		console.log(error_data);
	}
	})

	function drawBarGraph(data, id) {
	var labels = data.labels;
	var chartLabel = data.chartLabel;
	var chartdata = data.chartdata;
	var ctx = document.getElementById(id).getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'horizontalBar',
		data: {
		labels: labels,
		datasets: [{
			label: chartLabel,
			data: chartdata,
			backgroundColor: [
			'rgba(245, 102, 0, 1)',
			'rgba(245, 102, 0, 1)',
			'rgba(245, 102, 0, 1)',
			'rgba(245, 102, 0, 1)',
			'rgba(245, 102, 0, 1)'
			],
			borderColor: [
			'rgba(245, 102, 0, 1)',
			'rgba(245, 102, 0, 1)',
			'rgba(245, 102, 0, 1)',
			'rgba(245, 102, 0, 1)',
			'rgba(245, 102, 0, 1)'
			],
			borderWidth: 2
		}]
		},
		options: {
		indexAxis: 'y',
		scales: {
			xAxes: [{
			ticks: {
				beginAtZero: true
			},
			gridlines: {
				display: false
			}
			}],
			yAxes: [{
				gridlines: {
					display: false
				}
			}]
		},
		plugins: {
			tooltip: {
			}
		}
		}
	});
	}
</script>
</body>

</html>
