<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Clemson Pick Your Park</title>
    {% load bootstrap5 %}

    {% load static %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Navbar-With-Button-icons.css' %}">

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="height: 473.094px;">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button" style="background: #f56600;"><i class="fas fa-search"></i></button></div>
                        </form>
                        <nav class="navbar navbar-light navbar-expand-md py-3">
                            <div class="container"><img width="35" height="35" src="{% static '/assets/img/sds-design-clemson-tiger-paw-print-dizzler-xl-255968_6c088676-27ee-4253-aba2-e07636656ab2_1000x.webp' %}"></span></button>
                                <div class="collapse navbar-collapse" id="navcol-3">
                                    <ul class="navbar-nav mx-auto">
                                        <li class="nav-item"></li>
                                        <li class="nav-item"></li>
                                        <li class="nav-item"></li>
                                    </ul><button class="btn btn-primary" type="button" style="background: #f56600;">Admin</button>
                                </div>
                            </div>
                        </nav>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Parking - User</h3>
                    <main></main>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action"><span>Lot C-01</span>
                        <div class="progress" style="border-color: rgb(245,102,0);--bs-primary: #f56600;--bs-primary-rgb: 245,102,0;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action"><span>Lot C-02</span>
                        <div class="progress">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action"><span>Lot C-03</span>
                        <div class="progress">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <footer class="bg-white sticky-footer"></footer>
    <script src="{% static '/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/theme.js' %}"></script>
</body>

</html>